@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

html {
  background-color: #f7f3f0;
}

body {
  border: 2px solid red;
  width: 60%;
  height: 100%;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 70px 0;
}

header img {
  border-radius: 50%;
  object-fit: cover;
}

span {
  margin-bottom: 10px;
}

.about-contact {
  margin-bottom: 50px;
  line-height: 30px;
}

.about-about {
  margin-bottom: 50px;
}

.about-cta {
  text-align: center;
}

.work {
  font-size: 14px;
  font-weight: 400;
  color: #0a231d;
  font-family: "poppins";
}

.about {
  line-height: none;
}

.about-contact a {
  /* font-size: 14px; */
  font-family: "poppins";
  font-weight: 400;
  color: #0a231d;
  text-decoration: none;
}

h1 {
  font-size: 40px;
  color: #1e1a19;
  font-family: "poppins";
}

.about-about p {
  font-size: 14px;
  line-height: 25px;
  word-spacing: 5px;
}

.about-cta-name {
  font-weight: bold;
  font-size: 17px;
}

.about-cta-cta {
  font-size: 13px;
  font-weight: lighter;
  margin-bottom: 10px;
}
