* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ui-background: #0a192f;
  --ui-background2: #ffffff;
  --button-background: #162d50;
  --button-hover: #faebd7;
  --text-01: #000000;
  --text-02: #ffffff;
}

body {
  font-family: "Atkinson Hyperlegible", sans-serif;
  scroll-behavior: smooth;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  padding: 40px;
  background-color: var(--ui-background);
  color: var(--text-02);
}

header nav ol li {
  display: inline-block;
  list-style-type: none;
  padding: 0 30px;
}

header p {
  font-size: 1.5rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
}

nav a {
  text-decoration: none;
  color: var(--text-02);
  font-size: 20px;
}

nav a:hover {
  border-bottom: 1px solid var(--ui-background2);
}

button {
  padding: 10px;
  font-size: 1rem;
  font-weight: bold;
  border: 2px solid #0a192f;
  border-radius: 5px;
  background: transparent;
}

button:hover {
  background: var(--button-background);
  color: var(--button-hover);
}

.home-link {
  border-bottom: 1px solid var(--text-02);
}

.hero-container {
  display: flex;
  width: 100%;
  height: 100vh;
  margin-top: 90px;
  gap: 40px;
  background-image: url(/images/hero.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-image-container {
  width: 50%;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding-bottom: 60px;
}

.hero-text {
  width: 50%;
  text-align: left;
  padding-top: 100px;
  line-height: 65px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100px;
  gap: 40px;
  padding: 100px 0;
  margin-top: 20px;
  background-color: var(--ui-background);
  color: var(--text-02);
}
